/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --background: #ffffff;
    --text: #000000;
    --border: #FB8500;
    --orange: #FB8500;
    --light-orange: #FFB703;
    --dark-green: #023047;
    --green: #219EBC;
    --light-green: #8ECAE6;
}

.dark {
    --background: #1d1d1d;
    --text: #e4e4e4;
    --border: #FB8500;
    --orange: #FB8500;
    --light-orange: #FFB703;
    --dark-green: #023047;
    --green: #219EBC;
    --light-green: #8ECAE6;
}

.light {
    --background: #ffffff;
    --text: #000000;
    --border: #FB8500;
    --orange: #FB8500;
    --light-orange: #FFB703;
    --dark-green: #023047;
    --green: #219EBC;
    --light-green: #8ECAE6;
}