/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
    :root {
        --color-primary: #f8aa67;
        /* Muted Warm Amber */
        --color-secondary: #B57F5F;
        /* Warm Taupe */
        --color-secondary-accent: #A37A63;
        /* Muted Sienna */
        --color-background: #F4F4F2;
        /* Soft Off-White */
        --color-text: #2D2D2D;
        /* Dark Charcoal */

        font-family: "Open Sans", sans-serif;
    }

}

.theme-light {
    --color-primary: #ff9437;
    --color-secondary: #634eda;
    --color-secondary-accent: #452ec7;
    --color-background: #F4F4F2;
    --color-text: #1c1c1c;
}

.theme-dark {
    --color-primary: #ff8419;
    /* Soft Bronze */
    --color-secondary: #5e3fbd;
    /* Rich Clay */
    --color-secondary-accent: #7b57e7;
    /* Muted Russet */
    --color-background: #313131;
    /* Charcoal Black */
    --color-text: #eaeaea;
    /* Soft Light Gray */
}

/* Additional Standard Colors */
.success {
    --color-success: #6A9B7B;
    /* Desaturated Green */
}

.warning {
    --color-warning: #D4A14E;
    /* Warm Honey */
}

.error {
    --color-error: #A8575A;
    /* Muted Crimson */
}

.info {
    --color-info: #5C8DAB;
    /* Dusty Blue */
}